nav{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0 9px;
    padding:20px 0;
    &.navbar-dark{
        color: #000;
    }

    .navbar-brand{
        color:#000;
    }
    .nav-link{
        color: #000;

        &:hover{
            color: #000;
        }
    }
}