<nav class="col-md-12 navbar navbar-dark sticky-top  flex-md-nowrap">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a href="javascript:void(0);" class="nav-link" (click)='logUserOut()' *ngIf='isUserLoggedIn' title="logout"><i-log-out></i-log-out></a>
      </li>
    </ul>
  </nav>