
    <div class="form-container col-sm-6">
      <h3 *ngIf='pageAdd'>Add Packages</h3>
      <h3 *ngIf='!pageAdd'>Update Packages</h3>
        <form [formGroup]='packageForm' method='POST' class="" enctype='application/x-www-form-urlencoded' (ngSubmit)='submitPackage(packageForm.value)'>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="input" class="form-control"  formControlName='name' id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name">
                <div class="alert alert-danger" *ngIf='!packageForm.controls["name"].valid && packageForm.controls["name"].touched'>This field required</div>
            </div>

            <div class="form-group col-sm-6">
                <label for="duration">Duration</label>
                <select formControlName="duration" class="form-control">
                  <option value="1">1 month</option>
                  <option value="3">3 month</option>
                  <option value="6">6 month</option>
                  <option value="12">1 Year</option>
                </select>
                <div class="alert alert-danger" *ngIf='!packageForm.controls["duration"].valid && packageForm.controls["duration"].touched'>This field required</div>
            </div>

            <div class="form-group">
              <label for="exampleInputName">Amount</label>
              <input type="input" class="form-control"  formControlName='amount' id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter amount">
              <div class="alert alert-danger" *ngIf='!packageForm.controls["amount"].valid && packageForm.controls["amount"].touched'>This field required</div>
            </div>
            
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">confirm to submit this details</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]='!packageForm.valid'>Submit</button>

            <div class="alert alert-info" *ngIf="message">{{message}}</div>
          </form>
    </div>

