<div *ngIf="record">
  <form [formGroup]="packageEdit" (ngSubmit)="editPackage(packageEdit.value)" class="form-inline">
    <label for="name"  class="mr-sm-2">package Name:</label>
    <input type="input" formControlName="name" class="form-control mb-2 mr-sm-2" value="{{record.name}}" id="name">
    <label for="duration" class="mr-sm-2">duration:</label>
    <select formControlName="duration" class="form-control">
        <option value="1" [selected]="record.duration === 1">1 month</option>
        <option value="3" [selected]="record.duration === 3">3 month</option>
        <option value="6" [selected]="record.duration === 6">6 month</option>
        <option value="12" [selected]="record.duration === 12">1 Year</option>
      </select>
    <label for="amount" class="mr-sm-2">Amt.:</label>
    <input type="input" formControlName="amount" class="form-control mb-1 mr-sm-2 col-md-2" value="{{record.amount}}"  id="amount">   
    <button type="submit" class="btn btn-primary mb-2">Edit</button>
  </form>
  <div class="alert alert-info" *ngIf="message">{{message}}</div>
</div>

