<div class="container">
    <div class="col-md-12 form-container">
        <div class="panel panel-primary">
            <div class="panel-heading">{{pageTitle}}</div>
            <div class="panel-body">
              <!-- <label>Filter By:Name </label><input type="text" [(ngModel)]='listFilter' />
              <h3>Filtered By:{{listFilter}}</h3> -->
              <!-- <button class="btn btn-primary pull-right btn-sm" (click)='toggleImage()'>{{imageShow ? 'Hide' : 'show' }} Image</button> -->
              <table class="table table-inverse table-striped table-hover">
                <thead>
                    <th> Sr.</th>
                     <th> Name</th>
                      <th>Amount</th>
                      <th>Action</th>
                      
                </thead>
                <tbody>
                    <tr *ngFor='let package of _packageList'>
                      <td>{{package.id}}</td>
                      <td>{{package.name | uppercase}}</td>
                      <td>{{package.amount | uppercase}}</td>
                      <td><a href="javascript:void(0);" (click)="showPackageDetails(package)" title="Edit"><i-edit></i-edit></a> | <a href="javascript:void(0)" (click)="removePackage(package.id)" title="Delete"><i-delete></i-delete></a>
                      </td>
                   
                    </tr>
                </tbody>
              </table>
    
              <span class="alert alert-info" *ngIf='msg' >{{msg}}</span>
            </div>
        </div>
    </div>
    <app-package-details  [record]="currentRecord"></app-package-details>
  </div>