<nav class="bg-light sidebar" id="sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active">
              <i-list></i-list>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a href="#pageSubmenu" data-toggle="collapse"  aria-expanded="false" class="nav-link dropdown-toggle"><i-user></i-user>Member</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li class="nav-item">
                      <a routerLink="/members" class="nav-link">Add Member</a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/member-list" class="nav-link">Member List</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item">
            <a href="#pageSubmenu1" data-toggle="collapse"  aria-expanded="false" class="nav-link dropdown-toggle">
              <i-package></i-package>
              Packages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li class="nav-item">
                    <a routerLink="/packages" class="nav-link">Add Package</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/package-list" class="nav-link">Package List</a>
                </li>
            </ul>
          </li>  
          <li class="nav-item">
            <a routerLink="/offers" class="nav-link">
              <i-package></i-package>
              Offers
            </a>
          </li>               
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link disabled">
                <i-user></i-user>
              Admin
            </a>
          </li>
         
        </ul>
      </div>
    </nav>