<div class="container">
  <div class="login-form">
  <div class="main-div">
      <div class="panel">
     <h2>Admin Login</h2>
     <p>Please enter your email and password</p>
     </div>
      <form [formGroup]='loginForm' (ngSubmit)='logUserIn(loginForm.value)'>  
          <div class="form-group"> 
              <input type="email" class="form-control" formControlName="username" id="inputEmail" placeholder="Email Address">  
              <div class="alert alert-danger" *ngIf='!loginForm.controls["username"].valid && loginForm.controls["username"].touched'>Field is required</div>
          </div>  
          <div class="form-group">  
            <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Password">  
            <div class="alert alert-danger" *ngIf='!loginForm.controls["password"].valid && loginForm.controls["password"].touched'>Field is required</div>
          </div>
          <!-- <div class="forgot">
             <a href="reset.html">Forgot password?</a>
          </div> -->
          <button type="submit" class="btn btn-primary" [disabled]='!loginForm.valid'>Login</button>  
          
        </form>
        <div class="alert alert-{{messageType}}" *ngIf='message'>{{message}}</div>
    </div>
  </div>
</div>
