<div class="container">
    <div class="row">
      <div class="col-12"> 
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
        <div class="col-3" *ngIf='isUserLoggedIn'>          
          <app-navbar ></app-navbar>
        </div>
        <div class="col">          
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>