/* You can add global styles to this file, and also import other style files */

$themColor : #7386D5;

.form-container{
    padding:30px 20px;

    
}

.form-group{
    position: relative;
    padding-left:0px;
    .form-control{
        height: 50px;
        line-height: 50px;
        &.ng-invalid{
            &.ng-touched{
                border: 1px solid #f8d7da;
            }
        }
    }

    .alert{
        position: absolute;
        padding: 4px 10px;
        font-size: 12px;      
        top: 45%;
        right: -122px;
        transform: translateY(-50%);
    }
}

.btn{
    &-primary{
        background-color:$themColor;
        border-color: $themColor;
        color: #fff;

        &:disabled{
            background-color:$themColor;
            border-color: $themColor;
            color: #fff;
        }
    }
}

.alert{
    padding: 4px 10px;
    font-size: 12px;
    margin-top:20px;
}
