
    <div class="form-container col-sm-6">
      <h3 *ngIf='pageAdd'>Member Registration</h3>
      <h3 *ngIf='!pageAdd'>Update Member</h3>
        <form [formGroup]='ngForm' method='POST' class="" enctype='application/x-www-form-urlencoded' (ngSubmit)='submitMember(ngForm.value)'>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="input" class="form-control"  formControlName='name' id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name">
                <div class="alert alert-danger" *ngIf='!ngForm.controls["name"].valid && ngForm.controls["name"].touched'>This field required</div>
            </div>

            <div class="form-group col-sm-3">
                <label for="exampleInputAge">Age</label>
                <input type="email" class="form-control"  formControlName='age' id="exampleInputAge" aria-describedby="ageHelp" placeholder="Age">
                <div class="alert alert-danger" *ngIf='!ngForm.controls["age"].valid && ngForm.controls["age"].touched'>This field required</div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control"  formControlName='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <div class="alert alert-danger" *ngIf='!ngForm.controls["email"].valid && ngForm.controls["email"].touched'>This field required</div>
            </div>
            <div class="form-group">
                <label for="exampleInputMobile">Mobile Number</label>
                <input type="mobile" class="form-control"  formControlName='mobile' id="exampleInputMobile" aria-describedby="mobileHelp" placeholder="Enter Mobile">
                <div class="alert alert-danger" *ngIf='!ngForm.controls["mobile"].valid && ngForm.controls["mobile"].touched'>This field required and Only numbers</div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"   formControlName='password' id="exampleInputPassword1" placeholder="Password">
              <div class="alert alert-danger" *ngIf='!ngForm.controls["password"].valid && ngForm.controls["password"].touched'>This field required</div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">confirm to submit this details</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]='!ngForm.valid'>Submit</button>

            <div class="alert alert-info" *ngIf="message">{{message}}</div>
          </form>
    </div>

