<div class="container">
  <div class="col-md-12 form-container">
      <div class="panel panel-primary">
          <div class="panel-heading">{{pageTitle}}</div>
          <div class="panel-body">
            <!-- <label>Filter By:Name </label><input type="text" [(ngModel)]='listFilter' />
            <h3>Filtered By:{{listFilter}}</h3> -->
            <!-- <button class="btn btn-primary pull-right btn-sm" (click)='toggleImage()'>{{imageShow ? 'Hide' : 'show' }} Image</button> -->
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-inverse table-striped table-hover">
              <thead>
                <tr>
                  <th> Sr.</th>
                   <th> Name</th>
                    <th> Age</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                    
              </thead>
              <tbody>
                  <tr *ngFor='let user of _memberList'>
                    <td>{{user.id}}</td>
                    <td>{{user.name | uppercase}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.email | uppercase}}</td>
                    <td><a [routerLink]="['/member',user.id]"><i-edit></i-edit></a>&nbsp;&nbsp;&nbsp;<a [routerLink]="['/edituser',user.id]"><span class="glyphicon glyphicon-edit " title="Remove"></span></a> 
                    &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" (click)="removeMember(user.id)"><i-delete></i-delete></a>
                    </td>
                                    </tr>
              </tbody>
            </table>
  
            <span class="alert alert-info" *ngIf='msg' >{{msg}}</span>
          </div>
      </div>

      
      
  </div>
</div>
